.navbar .navbar-nav .nav-link:not(.btn) i.fa{
    font-size: 18px;
    position: relative;
    top: 3px;
    text-align: center;
    width: 21px;    
}
.wrapper{
    margin-top: -20%;
}
.content-center {
    margin-top: 35%;
}
.container .h1-seo {
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 0%;
}
.h2-seo {
    font-weight: bold;
    font-size: 3rem;
    font-variant: small-caps;
}
#mc_embed_signup {
    background:rgba(0, 150, 150, 0.5); 
    clear:left; 
    font:14px Helvetica,Arial,sans-serif;  
    color: white;
    width:500px;
    margin: auto;
    border-radius: 1rem;
    text-transform: uppercase;
}
.p1 {
    font-weight: 600;
}
.h3-seo {
    font-size: 2em;
    color: teal;
    margin: auto;
    text-transform: uppercase;
}

.img-seo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.img-seo img {
    width: 300px;
    margin: 10px;
    box-shadow: 5px 5px 10px grey;
}
.disclaimer {
    color: black;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
}
.scrolled-down{
    transform:translateY(-100%); transition: all 1s ease-in-out;
  }
  .scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
  }
  